#post_content
  %h1
    = @post.title
  %p
    = @post.content

- if @post.user == current_user
  = link_to 'Edit', edit_post_path, class: 'btn btn-default'
  = link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }
-else
  %p
    You need to sign up or log in in order to create new post or comment on them.

